a {
    text-decoration: none;
}

.openings {
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: #F1F1F1;
}

.showtimes {
    float: right;
    font-size: 0.7rem;
}

.title {
    font-size: 0.8rem;
    float: left;
}

.film {
    padding: 10px;
    margin-bottom: 15px;
}

.link {
    float: left;
    /* /* display: flex; */
    justify-content: center;
    font-size: 0.8rem;
    /* width: 100%; */
    margin-bottom:  20px;
    margin-top:  20px;
}

hr {
    width: 240px;
    border: 1px solid #DFDFDF;
}

button {
    background-color: #2A6AAF;
    color: white;
    font-size: 1.2rem;
    padding: 25px;
    margin: 10px;
}